FIRST_NAME = 'YOUR FIRST NAME HERE'
LAST_NAME = 'YOUR LAST NAME HERE'
BIRTH_MONTH = 'MONTH OF BIRTH FROM 1 TO 12'
BIRTH_DAY = 'DAY OF BIRTH'
BIRTH_YEAR = 'YEAR OF BIRTH'
GENDER = '1 - MALE, 2 - FEMALE'
EMAIL_ADDRESS = 'EMAIL ADDRESS W/OUT @gmail'
PASSWORD = 'YOUR PASSWORD HERE'
RECEPIENT = 'RECEPIENT EMAIL HERE'
MSG_SUBJECT = 'LETTER SUBJECT HERE'
MSG_TEXT = 'LETTER TEXT HERE'